// add rule overrides as needed
// currently only disagree about arrow-parens, max-length and
// https://github.com/airbnb/javascript/tree/master/react#props
{
  'extends': 'airbnb',
  'parser': 'babel-eslint',
  'env': {
    'browser': true,
  },
  'rules': {
    'arrow-parens': [2, 'always'],
    'max-len': [2, 140, 4],
    'react/jsx-boolean-value': ['error', 'always'],
  }
}
